$tablet = 'only screen and (min-width: 641px)';
$desktop = 'only screen and (min-width: 1025px)';

$filmstrip_width = 140px;
$filmstrip_height = $filmstrip_width * 0.75;

$filmstrip_width_tablet = 240px;
$filmstrip_height_tablet = 180px;
